h1,
#time-container,
h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 60px;
  @media (max-width: 1140px) {
    font-size: 3em;
  }
  @media (max-width: 625px) {
    margin-bottom: 30px;
  }
  span {
    font-size: 0.5em;

    &#time-left {
      font-size: 0.3em;
      text-transform: lowercase;
      font-style: italic;
    }
  }
}

h4 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 4px;
  margin-bottom: 40px;
  @media (max-width: 625px) {
    margin-bottom: 20px;
  }
  &:after {
    content: "";
    display: block;
    margin-top: 40px;
    height: 2px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
    @media (max-width: 1140px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 625px) {
      margin-top: 30px;
    }
  }
}
