nav {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px;

  .logo {
    height: 115px;
    min-height: 115px;
    cursor: pointer;
    svg {
      height: 100%;
    }
  }
  .contact {
    margin-left: auto;
    text-align: right;
    font-weight: bold;
    letter-spacing: 1px;
    .phone {
      margin-bottom: 10px;
    }
  }
}
