main {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 100vw;
  padding: 0 100px;
  .text-content {
    width: 100%;
  }
  @media (max-width: 1140px) {
    flex-direction: column;
    .text-content {
      order: 1;
      text-align: center;
    }
    #time br {
      display: none;
    }
  }
  @media (max-width: 625px) {
    padding: 0 50px;
  }
}
.singer {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  @media (max-width: 1140px) {
    margin-right: auto;
    order: 0;
  }
  h2 {
    margin-bottom: 0;
    margin-top: 60px;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    @media (max-width: 1140px) {
      margin-top: 30px;
      margin-bottom: 40px;
    }
    @media (max-width: 625px) {
      margin-bottom: 30px;
    }
  }
  .image-container {
    height: auto;
    max-height: 400px;
    overflow: hidden;
    width: auto;
    max-width: 400px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
    @media (max-width: 1140px) {
      max-height: 200px;
      max-width: 200px;
    }
  }
}
